@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

html, body {
  scroll-behavior: smooth;
  background: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
  color: #111;
  font-size: 16px;
  line-height:
